<div style="margin-left:64px; margin-right:64px;">
<h1>Prayers</h1>
<p>
    <%= link_to "New Prayer", {:controller => "prayers", :action => "new", :prayerlistid => @prayerlist_id }, class:"btn btn-success"%>
</p>


<ul class="nav nav-pills nav-justified"> 
  <li role="presentation" class="active"><a data-toggle="tab" href="#korean-prayers-lists">Korean</a></li>
  <li role="presentation"><a data-toggle="tab" href="#english-prayers-lists">English</a></li>
</ul>

<div class="tab-content" style="margin-top:8px;">
<div id="korean-prayers-lists" class="tab-pane fade in active">
<div class="panel panel-default">
  <div class="panel-heading"><h4>뉴욕 교회 기도 명단 (최종 업데이트: 08/18/2018)</h4></div>
    <table class="table table-bordered table-striped">
        <tr>
            <th width="15%" style="text-align:center;">Prayer</th>
            <th width="15%" style="text-align:center;">Name</th>
            <th width="15%" style="text-align:center;">Relationship</th>
            <th width="35%" style="text-align:center;">Remark</th>
            <th width="10%" style="text-align:center;">Edit</th>
            <th width="10%" style="text-align:center;">Delete</th>

        </tr>

        <% @korean_prayers.each do |prayer| %>

        <tr>
            <td style="text-align:center;"><%= prayer.prayer %></td>
            <td style="text-align:center;"><%= prayer.name %></td>
            <td style="text-align:center;"><%= prayer.relationship %></td>
            <td style="text-align:center;"><%= prayer.note %></td>
            <td style="text-align:center;"><%= link_to 'Edit', edit_prayer_path(prayer)%></td>
            <td style="text-align:center;"><%= link_to 'Delete', prayer_path(prayer), method: :delete, data: {confirm: "are you sure?"}%></td>
        </tr>

        <% end %>
    </table>
</div>
</div>

<div id="english-prayers-lists" class="tab-pane fade">
<div class="panel panel-default">
  <div class="panel-heading"><h4>New York Church Prayer Requests (L/U: 08/18/2018)</h4></div>
<table class="table table-bordered">
    <tr>
        <th width="15%" style="text-align:center;">Prayer</th>
        <th width="15%" style="text-align:center;">Name</th>
        <th width="15%" style="text-align:center;">Relationship</th>
        <th width="35%" style="text-align:center;">Remark</th>
        <th width="10%" style="text-align:center;">Edit</th>
        <th width="10%" style="text-align:center;">Delete</th>
    </tr>
        <% @english_prayers.each do |prayer2| %>
    <tr>
        <td style="text-align:center;"><%= prayer2.english_prayer %></td>
        <td style="text-align:center;"><%= prayer2.english_name %></td>
        <td style="text-align:center;"><%= prayer2.english_relationship %></td>
        <td style="text-align:center;"><%= prayer2.english_note %></td>
        <td style="text-align:center;"><%= link_to 'Edit', edit_prayer_path(prayer2)%></td>
        <td style="text-align:center;"><%= link_to 'Delete', prayer_path(prayer2), method: :delete, data: {confirm: "are you sure?"}%></td>
    </tr>

    <% end %>
</table>
</div>
</div>
</div>
</div>